APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:GubPyrSkOuA0MeapHCHpcCvsu3boAhrCIRMYTrjuyQE=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

MIDTRANS_SERVER_KEY=Mid-server-7hRWabL5-JtifE55i0nuJYB7
MIDTRANS_CLIENT_KEY=Mid-client-IFQ90G-wRuyY2gYc
MIDTRANS_IS_PRODUCTION=false
MIDTRANS_MERCHANT_ID=G647266510
BITESHIP_API_KEY=biteship_test.eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1lIjoiR3RlY2hBcGkiLCJ1c2VySWQiOiI2OGZiMjAwZDJhN2ZjNTAwMTI4YjkxZDQiLCJpYXQiOjE3NjI3ODQ1MzR9.zvVcb3ONSumOSZ7SEsGspgkDL5IneFh-qmqLYGF8Tgk
biteship_test=true
BITESHIP_ID=6911
BITESHIP_BASE_URL=https://api.biteship.com/v1
BITESHIP_VERIFY_SSL=false
MIDTRANS_VERIFY_SSL=false
PHP_CLI_SERVER_WORKERS=4
BCRYPT_ROUNDS=12
LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=gtech
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BITESHIP_ORIGIN_CONTACT_NAME="GTech Store"
BITESHIP_ORIGIN_CONTACT_PHONE="081234567890"
BITESHIP_ORIGIN_CONTACT_EMAIL="support@gtechstore.com"
BITESHIP_ORIGIN_ADDRESS="Jl. Raya Seroja No. 12, Jakarta Timur, DKI Jakarta"
BITESHIP_ORIGIN_POSTAL_CODE="13250"
BITESHIP_ORIGIN_AREA_ID="IDJKT0021"

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
